{% extends "global/Page.html" %}


{% load staticfiles otree_tags %}
{% load staticfiles %}

{% block title %}
    <!-- Question {{ player.round_number }} -->
{% endblock %}


{% block content %}

 <!-- Game prompt -->
  <!-- How many zeros are in the table?
<br>
<div>

{{m1}} <br> {{m2}} <br> {{m3}} <br> {{m4}} <br> {{m5}} <br>
{{m6}} <br> {{m7}} <br> {{m8}} <br> {{m9}} <br> {{m10}} <br>

{{num_zero}}
<br>

</div> -->

<script>

var userAnswers = [];
var realAnswers = [];
var qnum = 0;
var correctItems = 0;

function createMatrix() {
    // Defines the width and height of the matrix.
    var width = 10;
    var height = 10;
    var random;
    var matrix = [];
    var count = 0;
    var item;

    // Creates the matrix to display.
    for (i = 0; i < height; i++) {
        inside_matrix = [];
        for (j = 0; j < width; j++) {
            // Returns a random number between 1 and 100.
            random = Math.floor(Math.random() * (100)+1);
            if (random % 2 == 0) {
                item = 0;
                count += 1;
            }
            else {
                item = 1;
            }
            inside_matrix.push(item);
        }
        inside_matrix = inside_matrix.join(' ');
        matrix.push(inside_matrix + "</br>");
    }
    // Pushes to the arrays to save user input and correct answers.
    realAnswers.push(count);
    userAnswers.push(document.getElementById("userInput").value);

    // Augments to the question number.
    qnum += 1;

    // Checks number of correct answers for display.
    if (realAnswers[qnum-2] == userAnswers[qnum-1]) {
        correctItems += 1;
    }

    // Outputs the matrix array.
    // Matrix still doesn't display properly. Need to fix formatting.
    matrix = matrix.join(' ')
    document.getElementById("demo").innerHTML = matrix;
    document.getElementById("count").innerHTML = count;
    document.getElementById("num").innerHTML = qnum;
    document.getElementById("pastQuestions").innerHTML = qnum - 1;
    document.getElementById("correctAnswers").innerHTML = correctItems;

    // NEED: Create statements to control for min number needed to input
    // NEED: To pull it all back to Otree.

}

</script>
</head>

<body onload = "createMatrix()">

<h1>Question <span id = "num">0</span></h1>

<p id="demo"></p>
<p id="count"></p>
<input id="userInput">
<button type="button" onclick="createMatrix()">Next</button>

<input type="hidden" name="userAnswers_hidden" value=userAnswers id="userAnswers_hidden"/>

<p>You have answered <span id = "correctAnswers"></span> out of <span id = "pastQuestions"></span></p>

<!-- {% formfield player.answer with label=player.question %} -->

<!-- {% next_button %} -->

<!-- You have answered {{ correct_so_far }} out of {{ questions_so_far }} correctly so far. -->


{% endblock %}
