{% extends "global/Page.html" %}


{% load staticfiles otree_tags %}
{% load staticfiles %}

{% block title %}
    Question {{ player.round_number }}
{% endblock %}


{% block content %}

 <!-- Game prompt -->
  <!-- How many zeros are in the table?
<br>
<div>

{{m1}} <br> {{m2}} <br> {{m3}} <br> {{m4}} <br> {{m5}} <br>
{{m6}} <br> {{m7}} <br> {{m8}} <br> {{m9}} <br> {{m10}} <br>

{{num_zero}}
<br>

</div> -->

<script>
var userAnswers = [];
var realAnswers = [];

function createMatrix() {
    // Defines the width and height of the matrix.
    var width = 5;
    var height = 5;
    var random;
    var matrix = [];
    var count = 0;
    var item;


    // Creates the matrix to display.
    for (i = 0; i < height; i++) {
        inside_matrix = [];
        for (j = 0; j < width; j++) {
            // Returns a random number between 1 and 100.
            random = Math.floor(Math.random() * (100)+1);
            if (random % 2 == 0) {
                item = 0;
                count += 1;
            }
            else {
                item = 1;
            }
            inside_matrix.push(item);
        }
        matrix.push(inside_matrix + "</br>");

    }
    // Outputs the matrix array.
    // Matrix still doesn't display properly. Need to fix formatting.
    document.getElementById("demo").innerHTML = matrix;
    document.getElementById("count").innerHTML = count;

    realAnswers.push(count);
    userAnswers.push(document.getElementById("userInput").value);

    // For testing!
    console.log(realAnswers);
    console.log(userAnswers);
}


</script>
</head>

<body>

<h1>JavaScript in Head</h1>

<p id="demo">A Paragraph.</p>
<p id="count">Count.</p>
<input id="userInput">
<button type="button" onclick="createMatrix()">Create Matrix</button>




    <!-- {% formfield player.answer with label=player.question %} -->

    <!-- {% next_button %} -->

You have answered {{ correct_so_far }} out of {{ questions_so_far }} correctly so far.


{% endblock %}
