
{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}
{% load staticfiles %}

{% block title %}
    Instructions
{% endblock %}

{% block scripts %}

{% endblock %}

{% block content %}
<!-- Game prompt -->


There will be two rounds. Each round will have an unlimited number of tasks that you must complete within the time limit. 
<br><br>
Each task will contain a matrix with 0's and 1's. You need to count the number of 0's that appear.
<br><br>

For each task you count correctly, you will receive {{player.contribution}}.
<br><br>


<br>

    {% next_button %}

{% endblock %}